body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #239b74;  /* Added border color */
}

h1 {
  text-align: center;
  color: #239b74;  /* Main color for title */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 12px;
  background-color: #239b74;  /* Main button color */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1f7e61;  /* Darker shade for button hover */
}

.toggle-button {
  margin-top: 20px;
  background-color: #4CAF50;
}

.result {
  margin-top: 30px;
  display: none;
}

.result h2 {
  text-align: center;
  color: #333;
}

.starting-income {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.results-dropdown {
  margin-top: 20px;
  display: none;  /* Initially hidden */
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-item {
  padding: 10px;
  margin: 10px 0;
  background-color: #f8f9fa;
  border-left: 5px solid #239b74;
}

.result-item span {
  font-weight: bold;
}

.red-text {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
